# **Week 3. Lab 1.Basic Python Questions**

**Question 1:** What are the two types of numeric data types in Python? give me example of each example.

The two basic numeric data types in python are float values and integer(int) values. Integer values, as the name suggests are composed of only integers. While floats are comprised of any real number. An example for a float would be 1.34, while an example of an int would be -3.

**Question 2:** How do you convert the string "123" into an integer?

In [1]:
int("123")

int

**Question 3:** Write a Python expression that adds two integers and then multiplies the result by a float.

In [2]:
(1 + 2) * 0.5

1.5

**Question 4:** What is the output of the following code: print(8 / 4)?

In [3]:
print(8/4)

2.0

**Question 5:**Given the variables x = 5 and y = 2, write a Python expression that uses PEMDAS rules to calculate (x^2 + y) / (y - x).

In [4]:

x = 5
y = 2
((x**2) + y) / (y - x)

-9.0

**Question 6:**  How do you create a string variable containing the text "Hello, Python!"?

In [6]:
x = "Hello, Python!"
print(x)

Hello, Python!

**Question 7:**Write a Python line of code that asks the user for their name and then prints a greeting including the name.

In [7]:
user_name = input("What is your name?: ")

print("Hello " + user_name + ", it's very nice to meet you.")

What is your name?: john
Hello john, it's very nice to meet you.

**Question 8:**What will be the output of the following code snippet: print(10 % 3)?

In [8]:
print(10 % 3)

1

**Question 9:** Create a float number, then convert a float to an integer in Python?

In [9]:
x = 1.5
print(int(x))

1

**Question 10:**Write a Python code snippet that calculates the average of three numbers: 4, 5, and 8.

In [10]:

x = (4 + 5 + 8) / 3

print(x)

5.666666666666667

**Question 11:** Explain the difference between the output of print(9 // 2) and print(9 / 2).

The difference is that // is used for integer division while / is used for float division. Therefore // will only return integers, even if the dividend and divisor used would normally return a float value. And / will only return float values, even if the divident and divisor would normally return an integer.

**Question 12:** Write a Python script that takes two user inputs: first_name and last_name, then prints them in reverse order with a space between them.

In [11]:
first_name = input("What is your first name?: ")
last_name = input("And what is your last name?: ")
print(last_name + " " + first_name)

What is your first name?: john
And what is your last name?: smith
smith john

**Question 13:** What is the result of the following expression: (100 - 5 ** 3) / 5?

In [12]:
(100 - 5 ** 3) / 5

-5.0

**Question 14:**Calculate the result of the following expression and explain the order of operations: (8 + 2 * 5) / (1 + 3 * 2 - 4).

In [14]:
(8 + 2 * 5) / (1 + 3 * 2 - 4)
#First we focus on what is inside each paranthesis. (8 + 2 * 5) and (1 + 3 * 2 - 4)
#Then in each individual paranthesis we apply the order of operations again.
#Since there are no other paranthesis within either paranthesis we look for exponents next.
#Both of these two parathesis don't have values with exponents so we can skip this step.
#What follows is multiplication, and since we have values being multiplied in both paranthesis we go ahead and calculate them.
#Making it (8 + 10) and (1 + 6 - 4)
#Since neither paranthesis have any values being divided within them we can skip this step.
#Addition is the next step within each paranthesis, making it (18) and (7 - 4)
#Subtraction follows within each paranthesis, makimg it (18) and (3)
#Now that there are no more operators within either parantheis we can step back out to the larger expression.
#Making it (18)/(3)
#Since the only operator is division we can go ahead and calculate the result, which is 6

6.0

**Question 15:**String and Arithmetic Operations: Given x = "100" and y = "200", convert them to integers, add them, then convert the result back to a string.

In [18]:
x = "100"
y = "200"
num_x = int(x)
num_y = int(y)
num_sum = num_x + num_y
num_wrd = str(num_sum)
print(num_wrd)

300

**Question 16:** User Input Conversion: Write a Python script that asks for two numbers from the user, converts them to integers, multiplies them, and prints the result. Comparing Strings and Integers: What will be the result of comparing

In [19]:
x = input("What is your first number?: ")
y = input("What is your second number?: ")
num_x = int(x)
num_y = int(y)
num_prod = num_x * num_y
print(num_prod)

What is your first number?: 2
What is your second number?: 3
6

**Question 17:** Given a = 5.7 and b = "3", convert b to an integer, add a and b, and round the result to the nearest integer.

In [20]:
a = 5.7
b = "3"
num_b = int(b)
c = num_b + a
d = round(c)
print(d)

9


**Question 18:** Write a Python program that requests the user to input a distance in kilometers and then converts it to miles."

In [22]:
k = input("What is the distance in kilometers?: ")
l = float(k) * (3106855961/5000000000)
print(k + " km is equivalent to " + str(l) + " mi.")

What is the distance in kilometers?: 1.61
1.61km is equivalent to 1.0004076194420002 mi.

**Question 19:** Develop a Python script that prompts the user to provide a speed in kilometers per hour and then converts it to meters per second

In [25]:
k = input("What is the speed in kilometers per hour?: ")
l = float(k) * (1000)
m = l / 3600
print(k + " km/hr is equivalent to " + str(m) + " m/sec")

What is the speed in kilometers per hour?: 20
20 km/hr is equivalent to 5.555555555555555 m/sec

**Question 20:**Create a Python application that asks the user to enter an amount in pounds and then converts it to kilograms.

In [27]:
k = input("What is the weight in pounds?: ")
l = float(k) * (45359237 / 100000000)
print(k + " lb is equivalent to " + str(l) + " kg")

What is the weight in pounds?: 1
1 lb is equivalent to 0.45359237 kg